

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}



.App-link {
  color: #61dafb;
}

.Action-button{
  display: flex; 
  color:#282c34;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 6px 16px;
  font-size: small;
  font-weight: 500;
  line-height: 1.43;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: background-color 250ms, border-color 250ms, color 250ms;
  align-items: center;
  justify-content: center;
  
}


.Button-text{
  font-size: large;
  
}

.Attention-text{
  color: #4c95d0;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  
}

.selectionOutline{
  display: flex;
  width: 95%;
  margin: 20px;
  

}

.halfDiv {
  width: 50%;
  height: 100%;
  background-color: white;
  color: #282c34;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}

.altHalfDiv{
  margin: 10px;
  padding: 10px;
  width: 50%;
  height: 100%;
  display: block;
}

.wideOutline {
  width: 95%;
  height: 100%;
  background-color: white;
  color: #282c34;
  margin: 10px;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}


.center-div {
  display:block;

  
}

.center-div button {
  padding: 10px 20px;
}

.toggle-switch {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.buttonContainer{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
 }


 .buttonContainer button{
    display: flex;
    color: #282c34;
    background-color: white;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 6px 16px;
    font-size: small;
    font-weight: 500;
    line-height: 1.43;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: background-color 250ms, border-color 250ms, color 250ms;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    min-width: 250px;
    align-items: center;
    justify-content: center;


 }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.list-text{
  font-weight:bolder;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}



input{
  font-size: medium;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}


.navbar {
  background-color: #20232A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-button.active {
  border-bottom: 2px solid white;
}

.content {
  flex-grow: 1;
}





#masterStar{
  margin-left: 10px;
  font-weight: 900;
  font-style: normal;
}