
#sessionText{
    margin: 10px;
    font-weight: 350;
    font-size: xx-large;
}

#sessionHr{
    margin: 0;
}

#scriptText{
    margin: 5px;
    margin-left: 50px;
    font-size: x-large;
    font-weight: 100;
}

.measuringButton{
    width: 100%;
    margin-left: 20%;
}
.measuringButton button{
        width: 50%;
        text-align: center;
        font-size: 18px;
        border: 1px solid #ccc;
        border-radius: 10px;
        outline: none;
}



