.dropdown-container {
    margin: 16px 0;
    min-width: 120px;
}

.dropdown-label {
    font-size: large;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

.dropdown-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    appearance: none;
}

.dropdown-select:focus {
    border-color: #3f51b5;
    box-shadow: 0 2px 4px rgba(63, 81, 181, 0.2);
}

.dropdown-select option {
    text-align: center;
}

.selected-item {
    margin-top: 16px;
    font-size: 16px;
    color: #3f51b5;
}